@page "/vault"
@using OpenPassVault.Web.Providers

@inject JwtAuthenticationStateProvider AuthenticationStateStateProvider
@inject NavigationManager NavigationManager

<h3>Index</h3>

@code {

    protected override void OnInitialized()
    {
        if (AuthenticationStateStateProvider.CurrentUser == null)
        {
            NavigationManager.NavigateTo(Urls.Login);
        }
    }
}