@page "/vault"
@using Microsoft.AspNetCore.Authorization
@using OpenPassVault.Web.Providers
@attribute [Authorize]

@inject ApiAuthenticationStateProvider AuthenticationStateStateProvider
@inject NavigationManager NavigationManager

<h3>Index</h3>

@code {

    protected override void OnInitialized()
    {
        //if (AuthenticationStateStateProvider.CurrentUser == null)
        //{
        //    NavigationManager.NavigateTo(Urls.Login);
        //}
    }
}