@page "/vault"
@using Microsoft.AspNetCore.Authorization
@using OpenPassVault.Web.Providers
@attribute [Authorize]

@inject ApiAuthenticationStateProvider AuthenticationStateStateProvider
@inject NavigationManager NavigationManager
@inject ISecretService SecretService

<PageTitle>Passwords</PageTitle>

@if (_secrets is { Count: > 0 })
{
    
    
}
else
{
    <div class="alert alert-info" role="alert">
        <p>You have no passwords yet.</p>
    </div>
    <NavLink class="btn btn-primary" href="/vault/create">New</NavLink>
}

@code {
    private IList<SecretListItemResponse>? _secrets;

    protected override async Task OnInitializedAsync()
    {
        _secrets = await SecretService.ListSecrets();
    }
}