@page "/"

<PageTitle>Hjem</PageTitle>

<h1>OpenPassVault - en password-manager</h1>

<div class="alert alert-warning" role="alert">
    Bemærk, dette er en foreløbig <strong>demo-version</strong>. 
    Sørg derfor for at have en backup af dine passwords andetsteds, da siden nulstilles og tages ned uden varsel.
</div>
