@page "/"
@using OpenPassVault.Web.Providers

@inject ApiAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Hjem</PageTitle>

<h1>OpenPassVault - din nye bedste ven!</h1>

<AuthorizeView>
    <p>Velkommen til, @AuthenticationStateProvider.CurrentUser?.Name!</p>
</AuthorizeView>


<div class="alert alert-warning" role="alert">
    Bemærk, hvis du glemmer dit master-password, er du fucked!
</div>
<p>
    Dette er den fedeste password-manager på markedet lige nu! Den garanterer sikker opbevaring af dine passwords 
    (og andre hemmeligheder) ved brug af topmoderne kryptering på klient-siden. Dette sikrer, at kun du har adgang til 
    at læse dem. 
</p>