@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ApiAuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        Velkommen, @HttpUtility.HtmlEncode(AuthenticationStateProvider.CurrentUser?.Name)!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log ud</button>
    </Authorized>
    <NotAuthorized>
        <a href="@Urls.Login">Log ind</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    public async Task BeginLogOut()
    {
        await AuthenticationStateProvider.Logout();
        Navigation.NavigateToLogout(Urls.Login);
        StateHasChanged();
    }
}